.reserveButton{
    background-color: #FF5A5F;
    box-shadow: 2px 2px;
    width: 150px;
}
.reserveButton:hover{
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    padding-bottom: 20px;
}

.myFlex{
    display: flex;
    gap: 30px;
}
