.reserveButton{
    background-color: #FF5A5F;
    box-shadow: 2px 2px;
    width: 220px;
    height: 50px;
}
.reserveButton:hover{
    cursor: pointer;
    background-color: rgb(85, 72, 111);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    padding-bottom: 20px;
    height: 250px;
    gap: 20px;
}

.myFlex{
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.datesSection{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
