.signupModal {
    position: fixed;
    z-index: 1;
    left: calc(50% - 200px);
    top: calc(50% - 250px);
    width: 400px;
    height: 500px;
    overflow: auto;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .signupHeader {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .signupSubheader {
    font-size: 14px;
    color: #717171;
    margin-bottom: 20px;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .signupButton {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, #ff5a5f, #ff4045);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .signupButton[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
  }

  .signupButton:hover {
    background: linear-gradient(to bottom, #ff4045, #ff5a5f);
  }

  .errors {
    color: red;
    margin-top: 4px;
  }
