.submitButton{
    color: white;
    background-color: gray;
    width: 200px;
}

.reviewTextArea{
    background-color: lightblue;
    width: 600px;
    height: 200px;
}

.modalContainer{
    position: fixed;
    z-index: 1;
    left: calc(50% - 400px);
    top: calc(50% - 250px);
    width: 800px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    background-color: darkgray;
}

.modalContent {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.rating:hover{
    cursor: pointer;
}
.submitButton:hover{
    background-color: #FF5A5F;
}
.submitButton[disabled]{
    background-color: lightgray;
    color: gray;
}
.submitButton[disabled]:hover{
    background-color: lightgray;
    color: gray;
}
