/* .paneContainer{
    width: 20%;
} */
.paneImage{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.paneContainer:hover{
    cursor: pointer;
}

.firstLinePane{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}


.price{
    font-weight: bolder;
}

.spanPrice{
    font-weight: 300;
}

.location{
    display: flex;
    gap: 10px;
}
