.FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    margin: 5em 5em;
    padding: 3em;
}
.FormContainer input{
    width: 25em;
    height: 2em;
    border-radius: 20px;
    padding: 2px 2px;
    margin-top: 1em;
}
.FormContainer textarea{
    margin: 3em;
    width: 55em;
    height: 14em;

    padding: 10px 10px;
}

.subFormContainer {
    display: flex;
    flex-direction: row;
}

label{
    padding: 15px;
    width: auto;
}
.createSpotForm{
    width: 60%;
    margin: auto;
}
.submitButton{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    background-color: #FF5A5F;
    color: white;
}
.submitButton:hover{
    cursor: pointer;
    background-color: #ed0b12;
}
.errors {
    color: red;
  }

  .previewImagesFields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .headerStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.descriptionText{
    width: 300px;
}

.titleStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.descriptionStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoStuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
