* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .spot-details-container {
    margin: 3em 20%;
    padding: 20px;
  }

  .spot-details-name {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .spot-details-location {
    font-size: 18px;
    color: #717171;
    margin-bottom: 15px;
  }

  .spot-details-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }

  .main-preview {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .right-side img {
    width: 100%;
    height: 171px;
    object-fit: cover;
  }

  .spot-details-host {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .host-description {
    flex: 1;
  }

  .host-name {
    font-size: 24px;
  }

  .spot-description {
    font-size: 18px;
    margin-top: 10px;
  }



  .divider {
    border: 1px solid #ccc;
    margin: 30px 0;
  }

  .spot-details-reviews {
    margin-bottom: 30px;
  }

  .spot-details-rating {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .review-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: lightgray solid 1px;
    background-color: lightblue;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 15px;
  }

  .delete-review-button {
    width: 100px;
    height: 30px;
    box-shadow: 2px 2px;
    background-color: gray;
  }

  .post-review-button {
    background-color: gray;
    box-shadow: 2px 2px;
    margin-left: 26%;
    margin-bottom: 20px;
    padding: 5px 5px;
  }
  .post-review-button:hover{
    background-color: #FF5A5F;
    cursor: pointer;
  }
  .delete-review-button:hover{
    background-color: #FF5A5F;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .spot-details-location,
    .spot-details-name,
    .spot-description,
    .post-review-button {
      margin-left: 15px;
    }

    .spot-details-images,
    .spot-details-reviews,
    .infoBox {
      margin-left: 15px;
      margin-right: 15px;
    }

    .infoBox {
      margin-right: 15px;
    }

    .owner-description-div {
      margin-left: 15px;
    }

    .ratingPTag {
      margin-left: 15px;
    }

    .review-item {
      margin-left: 0;
      margin-right: 0;
    }

    .post-review-button {
      margin-left: 15px;
    }
  }
