.bookHead{
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.resultsBooking{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin: 5em 8em;
        margin-bottom: 120px;

}

@media (max-width: 1800px) {
    .resultsBooking {
        grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
        margin: 5em 4em; /* Adjust the margin as needed */
    }
}
@media (max-width: 1800px) {
    .resultsBooking {
        grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
        margin: 5em 4em; 
    }
}

@media (max-width: 1400px) {
    .resultsBooking {
        grid-template-columns: repeat(2, 1fr);
        margin: 5em 4em;
    }
}
