.menu{

    width: 100px;
    height: 50px;
    border-radius: 20%;
}
.menu:hover{
    cursor: pointer;
}
.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: darkgray 1px solid;
}

.SubNav {
    display: flex;
    gap: 20px;
    padding-right: 20px;

}


.logo{
    padding-left: 30px;
    font-size: 40px;
    color: #FF5A5F;
}

.logo:hover{
    cursor: pointer;
}
